
#hr{
  background-color: yellow;
}
.navbar{

  width: 100%;
  flex-direction: column;

};
.navbar--img{
  flex-direction: row;
  width: 50%;

};

.navabar--logo{
  margin-left: 1em;
  margin-top: 2em;
  width: 10em;
  height: 3em;
};
#typografy{
  margin-left: 21em;
  margin-top: -2em;
};

#buttonsub{
  background-color: yellow;
  font-weight: 600;
  margin-left: 67em;
  margin-top: -4em;
}
.navbar-ul{
  flex-direction: row;
  width: 50%;
  margin-left: -7em;
  
};

#navbar-ul_link{
 
  color:gray;
  margin: 1.5em;
  text-decoration: none;
};
#navbar-ul_link:active{
  color: yellow;
  font-weight: 600;
};

#navbar-ul_link:hover{
  color: #000;

}

.portal{
  padding: 1px;
  background-color:#3197d6;
}

.portal--h1{
   color: #ffffff;
   text-align: center;

};
.portal--img{
  width: 23em;
  height: 22em;
  margin-left: 19em;

};
.portal--h2{

  color: #ffffff;
  text-align: center;

};

.videos--h1{
  text-align: center;
}

#imgcard{

  width: 26em;
  height: 14em;
}

#titulocard{
  text-decoration: none;
    color: #000;
}

#spancard{
  color: gray;
}

#card{
  margin: 1em;
    padding: 1em;
    width: 16em;
}

.videobody{    
  display: -webkit-inline-box;
  margin-left: 0em;
}

@media (min-width: 536px){

  #hr{
    background-color: yellow;
  }
  .navbar{
  
    width: 100%;
    flex-direction: column;
  
  };
  .navbar--img{
    flex-direction: row;
    width: 50%;
  
  };
  
  .navabar--logo{
    margin-left: 1em;
    margin-top: 2em;
    width: 10em;
    height: 3em;
  };
  #typografy{
    margin-left: 21em;
    margin-top: -2em;
  };
  
  #buttonsub{
    background-color: yellow;
    font-weight: 600;
    margin-left: 67em;
    margin-top: -4em;
  }
  .navbar-ul{
    flex-direction: row;
    width: 50%;
    margin-left: -7em;
    
  };
  
  #navbar-ul_link{
   
    color:gray;
    margin: 1.5em;
    text-decoration: none;
  };
  #navbar-ul_link:active{
    color: yellow;
    font-weight: 600;
  };
  
  #navbar-ul_link:hover{
    color: #000;
  
  }
  
  .portal{
    padding: 1px;
    background-color:#3197d6;
  }
  
  .portal--h1{
     color: #ffffff;
     text-align: center;
  
  };
  .portal--img{
    width: 23em;
    height: 22em;
    margin-left: 19em;
  
  };
  .portal--h2{
  
    color: #ffffff;
    text-align: center;
  
  };
  
  .videos--h1{
    text-align: center;
  }
  
  #imgcard{
  
    width: 26em;
    height: 14em;
  }
  
  #titulocard{
    text-decoration: none;
      color: #000;
  }
  
  #spancard{
    color: gray;
  }
  
  #card{
    margin: 1em;
      padding: 1em;
      width: 16em;
  }
  
  .videobody{    
    display: -webkit-inline-box;
    margin-left: 0em;
  }

}

@media (min-width: 686px){

  #hr{
    background-color: yellow;
  }
  .navbar{
  
    width: 100%;
    flex-direction: column;
  
  };
  .navbar--img{
    flex-direction: row;
    width: 50%;
  
  };
  
  .navabar--logo{
    margin-left: 1em;
    margin-top: 2em;
    width: 10em;
    height: 3em;
  };
  #typografy{
    margin-left: 21em;
    margin-top: -2em;
  };
  
  #buttonsub{
    background-color: yellow;
    font-weight: 600;
    margin-left: 67em;
    margin-top: -4em;
  }
  .navbar-ul{
    flex-direction: row;
    width: 50%;
    margin-left: -7em;
    
  };
  
  #navbar-ul_link{
   
    color:gray;
    margin: 1.5em;
    text-decoration: none;
  };
  #navbar-ul_link:active{
    color: yellow;
    font-weight: 600;
  };
  
  #navbar-ul_link:hover{
    color: #000;
  
  }
  
  .portal{
    padding: 1px;
    background-color:#3197d6;
  }
  
  .portal--h1{
     color: #ffffff;
     text-align: center;
  
  };
  .portal--img{
    width: 23em;
    height: 22em;
    margin-left: 19em;
  
  };
  .portal--h2{
  
    color: #ffffff;
    text-align: center;
  
  };
  
  .videos--h1{
    text-align: center;
  }
  
  #imgcard{
  
    width: 26em;
    height: 14em;
  }
  
  #titulocard{
    text-decoration: none;
      color: #000;
  }
  
  #spancard{
    color: gray;
  }
  
  #card{
    margin: 1em;
      padding: 1em;
      width: 16em;
  }
  
  .videobody{    
    display: -webkit-inline-box;
    margin-left: 0em;
  }

}

@media (min-width: 991px){

  #hr{
    background-color: yellow;
  }
  .navbar{
  
    width: 100%;
    flex-direction: column;
  
  };
  .navbar--img{
    flex-direction: row;
    width: 50%;
  
  };
  
  .navabar--logo{
    margin-left: 1em;
    margin-top: 2em;
    width: 10em;
    height: 3em;
  };
  #typografy{
    margin-left: 21em;
    margin-top: -2em;
  };
  
  #buttonsub{
    background-color: yellow;
    font-weight: 600;
    margin-left: 67em;
    margin-top: -4em;
  }
  .navbar-ul{
    flex-direction: row;
    width: 50%;
    margin-left: -7em;
    
  };
  
  #navbar-ul_link{
   
    color:gray;
    margin: 1.5em;
    text-decoration: none;
  };
  #navbar-ul_link:active{
    color: yellow;
    font-weight: 600;
  };
  
  #navbar-ul_link:hover{
    color: #000;
  
  }
  
  .portal{
    padding: 1px;
    background-color:#3197d6;
  }
  
  .portal--h1{
     color: #ffffff;
     text-align: center;
  
  };
  .portal--img{
    width: 23em;
    height: 22em;
    margin-left: 19em;
  
  };
  .portal--h2{
  
    color: #ffffff;
    text-align: center;
  
  };
  
  .videos--h1{
    text-align: center;
  }
  
  #imgcard{
  
    width: 26em;
    height: 14em;
  }
  
  #titulocard{
    text-decoration: none;
      color: #000;
  }
  
  #spancard{
    color: gray;
  }
  
  #card{
    margin: 1em;
      padding: 1em;
      width: 16em;
  }
  
  .videobody{    
    display: -webkit-inline-box;
    margin-left: 0em;
  }

}
@media (min-width: 1280px) {
#hr{
  background-color: yellow;
}
.navbar{

  width: 100%;
  flex-direction: column;

};
.navbar--img{
  flex-direction: row;
  width: 50%;

};

.navabar--logo{
  margin-left: 5em;
  margin-top: 2em;
  width: 15em;
  height: 5em;
};
#typografy{
  margin-left: 22em;
  margin-top: -2em;
};

#buttonsub{
  background-color: yellow;
  font-weight: 600;
  margin-left: 77em;
  margin-top: -4em;
}
.navbar-ul{
  flex-direction: row;
  width: 50%;
  margin-left: 1em;
};

#navbar-ul_link{
 
  color:gray;
  margin: 2em;
  text-decoration: none;
};
#navbar-ul_link:active{
  color: yellow;
  font-weight: 600;
};

#navbar-ul_link:hover{
  color: #000;

}

.portal{
  padding: 1px;
  background-color:#3197d6;
}

.portal--h1{
   color: #ffffff;
   text-align: center;

};
.portal--img{
  width: 23em;
  height: 22em;
  margin-left: 29em;

};
.portal--h2{

  color: #ffffff;
  text-align: center;

};

.videos--h1{
  text-align: center;
  //color: white;
}

#imgcard{

  width: 26em;
  height: 14em;
}

#titulocard{
  text-decoration: none;
    color: #000;
}

#spancard{
  color: gray;
}

#card{
  margin: 1em;
  padding: 1em;
  width: 25em;
}

.videobody{    
  display: -webkit-inline-box;
  margin-left: 3em;
}
}